.classpath
.project
/.settings

/.idea
*.iml
*.iws

.DS_Store

/log
/target
/target-eclipse
/out

# logs
/stacktrace.log
/test/reports
/logs

*.scssc
*.rdb
application.properties
TODO.txt

.idea/
.slcache/
*.iml